$black-blue: rgb(66, 86, 122);
$black-blue-light: rgba(66, 86, 122, 0.1);
$for-gradient-blue: rgba(56, 119, 238, 1);
$blue-pagination: rgba(56, 119, 238, 0.1);
$blue-pagination-active: rgba(56, 119, 238, 0.4);
$for-gradient-pink: rgba(239, 93, 168, 1);
$counter-color: rgb(66, 86, 122);
$bg-divider-shadow-color: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$divider-mobile-color: #c7cdd9;
$circle-color: rgba(66, 86, 122, 0.1);
$segment-border-color: rgba(49, 63, 89, 0.5);
$segment-bg-color: #f4f5f9;
